{% extends "base.html" %}

{% block content %}
       {% for year, year_list in entries|groupby('year')|reverse %}
        <div class="row-fluid">
            <div class="span12">
                <h3>{{ year }}</h3>
            </div>
        </div>
        {% for entry in year_list %}
        <div class="row-fluid">
            <div class="span8">
                <a href="/{{ entry.url }}">{{ entry.title }}</a>
            </div>    
            <div class="span4" style="text-align: right">
                {{ entry.pretty_date }}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
{% endblock %}
